/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*customs properties*/
:root {
    --light-blue: #b4d0e7;
    --dark: #000000;
    --blue: #0061ff;
    --grey: #f5f5f5;
    --contrast: #753f63;
    --white: #ffffff;
    --logo-green: #a2d39b;
    --logo-second: #61082b;
    --logo-third: #0093ce;
    --logo-light-red: #ff1c1c;
    --logo-red: #d5001f;
    --logo-blue: #0d2481;
    --logo-yellow: #ffd830;
    --jumbo: #B4D0E7;
}

/*generals*/

.debug {
    border: 1px solid red;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    color: var(--dark);
}

ul {
    list-style: none;
}

h1 {
    font-size: 4em;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

hr {
    width: 20%;
}
.button {
    background-color: var(--blue);
    border-style: none;
    color: var(--white);
    padding: 7px 10px;
    font-size: 1em;
}

.w-button {
    background-color: var(--white);
    border: 1px solid var(--dark);
    color: var(--dark);
    padding: 7px 10px;
    font-size: 1em;
}

.small {
    font-size: small;
}

.col {
    width: calc((100% - 50px) / 3);
    border: 1px solid var(--dark);
}

.col1 {
    width: calc((100% - 15px) / 3);
}

h3 {
    font-size: 2em;
}

.text-p {
    color: var(--logo-second);
}

/*container*/

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.container-small {
    margin: 0 auto;
    max-width: 800px;
}


/*background*/
.bg-light-blue {
    background-color: lightblue;
}

.bg-logo1 {
    background-color: var(--logo-green);
}

.bg-logo2 {
    background-color: var(--logo-second);
}

.bg-logo3 {
    background-color: var(--logo-third);
}

.bg-logo4 {
    background-color: var(--logo-light-red);
}

.bg-logo5 {
    background-color: var(--logo-red);
}

.bg-logo6 {
    background-color: var(--light-blue);
}

.bg-logo7 {
    background-color: var(--logo-blue);
}

.bg-logo8 {
    background-color: var(--logo-yellow);
}
/*Flex utilities*/
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

/*Spacer*/
.p-20 {
    padding: 20px;
}

.p-top {
    padding-top: 50px;
}

.p-bottom {
    padding-bottom: 50px;
}

.p-section {
    padding-top: 100px;
}

.p-40 {
    padding: 40px;
}

.p-left {
    padding-left: 40px;
}

.p-col {
    padding: 0 25px 20px 25px;
}

.p-section4 {
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
}

/*Dimension*/
.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

/*header*/
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: var(--dark);
    z-index: 1000;
    line-height: 35px;
}

header nav ul li {
    padding: 18px;
}

header nav ul li img {
    padding-top: 6px;
}

/*main*/

#jumbotron {
    padding-top: 60px;
}

#jumbotron .container {
    position: relative;
    top: 70px;
}

#plans {
    margin-top: 70px;
}

.customers-brand>div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand {
    width: 50%;
    height: 50%;
}

.img-brand {
    width: 50%;
    filter: invert(100%);
}

.img-brand2{
    width: 50%;
}

.img-brand1 {
    width: 140px;
    height: 30px;
    filter: invert(100%);
    align-self: center;
}
main section div div div ul li {
    padding-top: 40px;
}

.fa-arrow-down {
    font-size: 3em;
}

/*footer*/
footer {
    background-color: black;
    color: white;
}

footer nav div ul:first-child {
    border-bottom: 1px solid var(--white);
}